[project]
name = "pythonproject"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.125.0",
    "google-adk>=1.18.0",
    "python-dotenv>=1.2.1",
    "uvicorn>=0.38.0",
]
